fs==2.4.16
jupyter==1.0.0
notebook==7.2.2
jupyterlab==4.2.5
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
seaborn==0.13.2
matplotlib==3.9.2
selenium==4.24.0
beautifulsoup4==4.12.3
ipykernel==6.28.0
scipy==1.13.1
undetected-chromedriver==3.5.5
